*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(228, 245, 250);
}

h1{
    color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    font-size:30px;
    text-transform: uppercase; 
    margin:0px;
    background-color: rgb(247, 203, 253);
    opacity:0.9;
}

h2{
    color:rgb(164, 193, 201);
    font-size: 20px;
    text-align:center;
    margin: 5px;
}

p{color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color:rgb(255, 248, 237);
    opacity:0.9;
    border-radius:15px;
    padding:10px;
}
